/* || CUSTOM PROPERTIES */

:root {
  --ff-poppins: 'Poppins', sans-serif;

  /* gap sizing */
  --gs-small: 1em;
  --gs-medium: 2em;

  /* heights and widths */
  --h-header: 5em;
  --wh-avatar: 3em;
  --wh-compact-card: 15em;

  /* solid colors */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 22%);

  /* rounded border */
  --r-capsule: 20px;
  --r-cicle: 50%;

  /* padding */
  --p-small: 0.5em;
  --p-medium: 1em;
  --p-large: 5em;

}

html {
  font-family: var(--ff-poppins);
  overflow: hidden;
}

/* TODO: Let dark mode be the default and toggle using JS */

/* dark mode styles */
.light-mode {
  background-color: var(--white);
  color: var(--black);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

p > span {
  font-size: x-large;
}

/* || MAIN */

main {
  padding: 2em;
}

/* || HEADER */

/* TODO: Fix bug of header avatar not fitting in with the max-height*/
header {
  display: flex;
  justify-content: space-between;
  max-height: var(--h-header);
}

.header__right,
.header__left {
  display: flex;
  gap: var(--gs-small);
  align-items: center;
}

.header__avatar img {
  border: solid var(--gray);
  border-radius: var(--r-cicle);
  max-height: var(--wh-avatar);
  max-width: var(--wh-avatar);
  object-fit: cover;
}

.header__button {
  background: none;
  padding: var(--p-small);
  border-radius: var(--r-cicle);
  border-color: var(--gray);
}

/* || MAIN-CONTENT */

.main__project-row {
  padding: var(--p-large);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gs-small);
}

.compact-card {
  border: solid var(--gray);
  background-color: var(--white);
  min-height: var(--wh-compact-card);
  min-width: var(--wh-compact-card);
}

/* || NAVBAR */

nav {
  display: flex;
  justify-content: center;
}

.navbar-list {
  margin: 0;
  padding: var(--p-medium);
  list-style-type: none;
  display: flex;
  gap: var(--gs-medium);
  border-radius: var(--r-capsule);
  background-color: gainsboro;
}

/* || MEDIA QUERIES */